<hi><%= @wiki.title %></hi>

<%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-warning' %>
<%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this article?' } %>


<div class="col-md-8">
    <p><%= @wiki.body %></p>
  </div>
<br>
  <%= link_to "Return", root_path, class: 'glyphicon glyphicon-circle-arrow-left' %>
</br>
